{% extends "blog/base.html" %}

{% block content %}

<div class="about">
    <h1>About Me</h1>
    <!-- <p>Whoops. Didn't expect anyone to click on this. This is embarrasing. This page is still under construction, check back later!</p> -->
    <p>I started this blog to get my very important thoughts&trade; out there into the world. If you like talking about
        comics and manga, then you've come to the right place. I'm just getting started, so the look and feel of the
        site will likely be changing often.</p>
</div>
{% endblock content %}